
<div class="teste">
    <img src="https://media.giphy.com/media/hb1zOkm8hslVK/giphy.gif" alt="Norway" style="width:100%;">
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <form class="centered" autocomplete="on" #f="ngForm" style="max-width: 400px; margin: auto">
        <div class="ui-g ui-fluid">
          
          
          <div class="ui-g-12">
            <h1>Login</h1>
          </div>
          
          <div class="ui-g-12">
            <input pInputText type="email" name="usuario" placeholder="E-mail"
            ngModel required #usuario>
          </div>
          
          <div class="ui-g-12">
          <input pInputText type="password" name="senha" placeholder="Senha"
          ngModel required #senha>
        </div>
        
        <div class="ui-g-12">
          <button pButton type="submit" label="Login" [disabled]="!f.valid"
          (click)="login(usuario.value, senha.value); senha.value = '';"></button>
        </div>
      </div>
    </form>
  </div>
