

<nav class="navbar">
  <div class="container">
      <div class="ui-g">
          <div class="ui-g-12">
              <a href="javascript:;" class="navbar-toggle" (click)="showMain = !showMain"><i class="fa fa-bars"></i>MGMED</a>
          </div>
      </div>
  </div>

  <ul class="animated fadeInRightBig navbar-menu" [hidden]="!showMain">
      <li class="navbar-usuario">José da Silva</li>
      <li class="navbar-menuitem"><a href="#">Lançamentos</a></li>
      <li class="navbar-menuitem"><a href="#">Pessoas</a></li>
      <li class="navbar-menuitem"><a href="#">Logout</a></li>
  </ul>
</nav>